# Quadrotor2D temporal consistency training
# Usage: python run_experiment.py -c configs/quadrotor2d_tc.yaml

mode: train
experiment_name: quadrotor2d_tc
experiments_dir: /common/users/shared/pracsys/adaptive_roa_experiments/dhruv/deepreach/${experiment_name}_${max_trajectory_files}_${omega_0}_${num_nl}_${num_hl}
experiment_class: DeepReach
dynamics_class: Quadrotor2D
training_objective: temporal_consistency
minWith: target

x_bound: 1.0
z_bound: 1.5
xdot_bound: 1.0
zdot_bound: 1.0
thetadot_bound: 8.0
set_mode: avoid

# Dataset
data_root: /common/users/shared/pracsys/genMoPlan/data_trajectories/quadrotor2D_rl
use_shuffled_indices_only: true
shuffled_indices_file: train_test_splits/shuffled_indices_0.txt
load_trajectories_in_ram: true
trajectory_uniform_sampling: true
max_trajectory_files: 7500
supervised_weight: 0.0

tMin: 0.0
tMax: 10.0
numpoints: 1000

# Training
num_epochs: 50000
pretrain: false
pretrain_iters: 0
counter_start: 35000
counter_end: 35000
lr: 1e-5
num_hl: 2
num_nl: 256
omega_0: 20.0
model: sine
steps_til_summary: 100
epochs_til_ckpt: 500
val_z_resolution: 1
num_src_samples: 100
num_src_samples_decay_epochs: 1000

# Early stopping & eval
val_fraction: 0.1
early_stopping_patience: 50
eval_batch_size: 10000

device: "cuda:0"
seed: 0
